@import "./variables";
@import "./fonts";

body {
  background-color: $bg-color;
  color: $fg-color;

  font-family: $font-family;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

#right-panel {
  display: flex;

  align-items: stretch;

  flex-direction: column-reverse;

  gap: .5rem;

  position: fixed;
  top: 16px;
  bottom: 16px;
  right: 16px;
}
