$bg-color: #000;
$fg-color: whitesmoke;

$link-color: #940000;

$font-family: Avenir, Helvetica, Arial, sans-serif;

$palette-width: 256px;

//////////////////////////////////////////////////////////////////////////////
// Progress bar style
$progress-bar-border-width: 1px;
$progress-bar-border-type: solid;
$progress-bar-border-color: white;
$progress-bar-color: white;
$progress-bar-height: 1rem;
$progress-bar-padding: 1px;

$progress-bar-label-color: white;
$progress-bar-label-font-family: sans-serif;
$progress-bar-label-font-size: 1rem;

//////////////////////////////////////////////////////////////////////////////
// Palette
$palette-bg-color: rgb(32, 32, 32);
$palette-color: rgb(128, 128, 128);